.modal__button-save {
  width: 272px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;   
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 524px) {
  .modal__button-save {
    width: 358px;
  }
}

.modal__button-save:hover {
  background: rgba(0, 0, 0, 0.8);  
  cursor: pointer;
}