.card__container {
    min-width: 282px;
    margin: 0 auto;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }