@import url(./__add-button/profile__add-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__container/profile__container.css);
@import url(./__heading/profile__heading.css);
@import url(./__info/profile__info.css);
@import url(./__text/profile__text.css);

.profile {
    min-width: 282px;
    margin: 0 auto;
    padding: 20px 0 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 420px) {
    .profile {
      padding: 0 0 36px;
    }
  }   

@media screen and (min-width: 768px) {
  .profile {
    max-width: 765px;
    margin: 40px auto 51px;
    flex-direction: row;
    padding: 0;
  }
} 

@media screen and (min-width: 999px) {
  .profile {
    max-width: 820px; 
    margin: 0 auto 51px;
  }
} 