.modal__close-button {
  position: absolute;
  margin-top: -373px;
  margin-right: -265px;
}

@media screen and (min-width: 524px) {
  .modal__close-button {
    margin-top: -365px;
    margin-right: -471px;
   }
} 

.modal__close-button:hover {
  opacity: 0.6;
}