.modal__close-button {
  position: absolute;
  bottom: 319px;
  left: 242px;
}

@media screen and (min-width: 524px) {
  .modal__close-button {
    left: 418px;
   }
} 

.modal__close-button:hover {
  opacity: 0.6;
}