.modal__container{
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
  max-width: 430px;
  width: calc(100% - 20px);
}

@media screen and (min-width: 430px) {
  .modal__container {
    width: calc(100% - 72px);    
  }
}  