.modal__form-input {
  margin: 0 0 36px;
  padding: 13px 0 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  width: calc(100% - 72px);
}

.modal__form-input:last-of-type {
  margin-bottom: 48px;
}

.modal__form-input::placeholder {
  opacity: 0.2;
}