@media screen and (min-width: 768px) {
  .profile__info {
    padding: 18px 0 0;
  }
} 

@media screen and (min-width: 999px) {
  .profile__info {
    min-height: 120px;
    padding: 58px 0 0;
  }
} 
 
  